<settings>
   <category label="30006">
     <setting id="showKeyboard" type="bool" label="30011" default="false" />
     <setting id="useAlternatePlDir" type="bool" label="30009" default="false" />
     <setting id="alternatePlDir" type="text" label="30010" default="" />
   </category>
   <category label="30007">
     <setting id="pl_video_0" type="text" label="30100" default="Movies" />
     <setting id="pl_video_1" type="text" label="30101" default="Series" />
     <setting id="pl_video_2" type="text" label="30102" default="Online" />
     <setting id="pl_video_3" type="text" label="30103" default="" />
     <setting id="pl_video_4" type="text" label="30104" default="" />
     <setting id="pl_video_5" type="text" label="30105" default="" />
     <setting id="pl_video_6" type="text" label="30106" default="" />
     <setting id="pl_video_7" type="text" label="30107" default="" />
     <setting id="pl_video_8" type="text" label="30108" default="" />
     <setting id="pl_video_9" type="text" label="30109" default="" />
     <setting id="pl_video_10" type="text" label="30110" default="" />
     <setting id="pl_video_11" type="text" label="30111" default="" />
     <setting id="pl_video_12" type="text" label="30112" default="" />
     <setting id="pl_video_13" type="text" label="30113" default="" />
     <setting id="pl_video_14" type="text" label="30114" default="" />
     <setting id="pl_video_15" type="text" label="30115" default="" />
     <setting id="pl_video_16" type="text" label="30116" default="" />
     <setting id="pl_video_17" type="text" label="30117" default="" />
     <setting id="pl_video_18" type="text" label="30118" default="" />
     <setting id="pl_video_19" type="text" label="30119" default="" />
   </category>
   <category label="30008">
     <setting id="pl_audio_0" type="text" label="30150" default="Favorites" />
     <setting id="pl_audio_1" type="text" label="30151" default="" />
     <setting id="pl_audio_2" type="text" label="30152" default="" />
     <setting id="pl_audio_3" type="text" label="30153" default="" />
     <setting id="pl_audio_4" type="text" label="30154" default="" />
     <setting id="pl_audio_5" type="text" label="30155" default="" />
     <setting id="pl_audio_6" type="text" label="30156" default="" />
     <setting id="pl_audio_7" type="text" label="30157" default="" />
     <setting id="pl_audio_8" type="text" label="30158" default="" />
     <setting id="pl_audio_9" type="text" label="30159" default="" />
     <setting id="pl_audio_10" type="text" label="30160" default="" />
     <setting id="pl_audio_11" type="text" label="30161" default="" />
     <setting id="pl_audio_12" type="text" label="30162" default="" />
     <setting id="pl_audio_13" type="text" label="30163" default="" />
     <setting id="pl_audio_14" type="text" label="30164" default="" />
     <setting id="pl_audio_15" type="text" label="30165" default="" />
     <setting id="pl_audio_16" type="text" label="30166" default="" />
     <setting id="pl_audio_17" type="text" label="30167" default="" />
     <setting id="pl_audio_18" type="text" label="30168" default="" />
     <setting id="pl_audio_19" type="text" label="30169" default="" />
   </category>
   <category label="30017">
     <setting id="pl_image_0" type="text" label="30180" default="Favorites" />
     <setting id="pl_image_1" type="text" label="30181" default="" />
     <setting id="pl_image_2" type="text" label="30182" default="" />
     <setting id="pl_image_3" type="text" label="30183" default="" />
     <setting id="pl_image_4" type="text" label="30184" default="" />
     <setting id="pl_image_5" type="text" label="30185" default="" />
     <setting id="pl_image_6" type="text" label="30186" default="" />
     <setting id="pl_image_7" type="text" label="30187" default="" />
     <setting id="pl_image_8" type="text" label="30188" default="" />
     <setting id="pl_image_9" type="text" label="30189" default="" />
     <setting id="pl_image_10" type="text" label="30190" default="" />
     <setting id="pl_image_11" type="text" label="30191" default="" />
     <setting id="pl_image_12" type="text" label="30192" default="" />
     <setting id="pl_image_13" type="text" label="30193" default="" />
     <setting id="pl_image_14" type="text" label="30194" default="" />
     <setting id="pl_image_15" type="text" label="30195" default="" />
     <setting id="pl_image_16" type="text" label="30196" default="" />
     <setting id="pl_image_17" type="text" label="30197" default="" />
     <setting id="pl_image_18" type="text" label="30198" default="" />
     <setting id="pl_image_19" type="text" label="30199" default="" />
   </category>
</settings>
